body {
    background-color: #f8f8f8;
}

header{
    display: flex;
    flex-direction: row;
}

header>img{
    margin-left: 2em;
    min-width: 100px;
}

.menu a:visited{
    color: #aa0000;
}

.menu a:hover{
    color: #ff6666;
}

.menu ul {
    padding-left: 0px;
}

.menu li {
    margin-left: 2em;
    list-style: none;
}

.menu a {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ff0000;
}

h1 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

img.full-description {
    border: 1px solid darkgray;
}

input, textarea {
    width: 200px;
    height: 20px;
    font: 16px arial serif;
    color: #484343;
}

input:focus, textarea:focus {
    background-color: rosybrown;
}

.features li{
    list-style-image: url("images/i.jpg");
    font-size: 20px;
    color: #444;
}

.features li strong{
    font-size: 22px;
}